button,hr,input{overflow:visible}audio,canvas,progress,video{display:inline-block}progress,sub,sup{vertical-align:baseline}html{font-family:sans-serif;line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0} menu,article,aside,details,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative}sub{bottom:-.25em}sup{top:-.5em}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{}button,select{text-transform:none}[type=submit], [type=reset],button,html [type=button]{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:ButtonText dotted 1px}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}summary{display:list-item}[hidden],template{display:none}
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:after { visibility: hidden; display: block; font-size: 0; content: ""; clear: both; height: 0;}

$colorPrimary: #2c314f;
$backgroundPrimary: rgb(6, 28, 63);
$buttonPrimary: #F95C3C;
$bodyColor: rgb(250, 251, 253);
$fontPrimary: 'Open Sans', sans-serif;

body {
  background: $bodyColor;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.button {
  background: $buttonPrimary;
  padding: 5px 50px;
  border: none;
  color: white;
}

a {
  text-decoration: none;
  color: white;
  border-radius: 2px;
  font-size: 12px;
}

h1 {
  font-family: $fontPrimary;
  font-size: 52px;
}

h2 {
  font-family: $fontPrimary;
  font-size: 32px;
  font-weight: 300;
}

h3 {
  font-family: $fontPrimary;
  font-size: 26px;
  font-weight: 300;
}

h4 {
  font-family: $fontPrimary;
  font-size: 18px;
  margin: 0;
}

p {
  font-family: $fontPrimary;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}

textarea, input, select {
  box-shadow: none;
  border: none;
}

select {
  appearance: none;
}

.loginContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  form {
    border: 1px solid grey;
    padding: 20px;
    background: $backgroundPrimary;
    color: white;
    text-align: center;
    width: 55%;
  }

  input {
    padding: 5px;
    margin: 0 5px;
  }


}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

.nav ul {
  height: 20vh;
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  background: $backgroundPrimary;

  div {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      background: $buttonPrimary;
      padding: 5px 50px;
    }
  }
}

header {
  background: $colorPrimary;
  padding: 25px 0;
  text-align: center;
  color: white;
  margin-bottom: 30px;
  font-family: $fontPrimary;
}
.mainSplash {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.splashOptions {
  width: 50%;
  text-align: center;
}

.splashButton {
  display: flex;
  justify-content: space-around;

  a {
    border: 1px solid black;
    padding: 10px 25px;
  }
}

.liststyle {
  list-style: none;
  width: 100%;
  padding-left: 0;
}

.List-Headings {
  display: flex;
  justify-content: space-around;
  position: relative;

  .List-Headings-Container {
    border: 1px solid black;
    width: 20%;
    text-align: center;
  }
}

// Vendor Side Styling

.List-Entries {
  display: flex;

  div {
    width: 20%;
    // text-align: center;
    // border: 1px solid black;
    display: flex;

    .notes {
      width: 100%;
      height: 100%;
    }

    input {
      width: 95%;
      margin: 0 auto;
    }
  }

  .quantity {
    display: flex;
    justify-content: center;
  }

  .quantity-container {
    width: 100%;

    div {
      width: 50%;

      button {
        width: 50%;
      }
    }
  }
}

.deleteInventoryItem {
  display: flex;
  justify-content: center;
  align-items: center;
}

  textarea {
    height: 100px;
    resize: none;
  }

.new-item {
  display: flex;
  justify-content: center;
  margin: 40px 0;

  div {
    width: 50%;
    background: $backgroundPrimary;
    padding: 20px;
  }


  form {
    display: flex;
    flex-direction: column;
  }

}

.new-item-inputs {
  margin: 3px 0;
}

// Client side styling
.clientContainer {
  display: flex;
}

.client50 {
  width: 50%;
  text-align: center;
}

.productList-Cards {
  background: $backgroundPrimary;
  padding: 15px 0;
}

.itemContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  margin: 15px 5px;
  background: $bodyColor;

  div {
    margin: 7px 0;
  }

}

.threeAcross {
  display: flex;
  width: 33.3%;
  align-items: center;
  justify-content: center;
}

.item-notes {
  width: 100%;
}

.item-ordering {
  display: flex;
  width: 100%;

  div {
    width: 50%;
  }
}

.orderList {
  display: flex;
  flex-direction: column;
  padding: 15px 0;
  // background: $backgroundPrimary;
}

.orderCard {
  display: flex;
  flex-wrap: wrap;
}

.orderCard-Container {
  padding: 10px;
  margin: 15px 5px;
  background: $bodyColor;
  width: 70%;
  margin: 0 auto;

  div {
    margin: 7px 0;
  }
}

.orderCard-Notes {
  width: 100%;
}
.orderCard-Notes-Heading {
  text-align: center;
  margin-bottom: 5px;
}
